{% extends 'base.html' %}
{% block title %}{% endblock title %}
{% block content %}
    <h1>Log In</h1>
    {% if form.errors %}
        <p>
            Your username and password did not match
        </p>
    {% else %}
        <p>Charley, Log-In for this side give me. If you no get account, then <a href="{% url 'register' %}">register</a> for this side</p>
    {% endif %}
    <div>
        <form action="{% url 'login' %}" method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <p><input type="submit" value="Log-In"></p>
        </form>
        <p><a href="{% url 'password_reset' %}">Forgotten Your Password</a></p>
    </div>
{% endblock %}


